h1{
    text-align: center;
}
.toDoBar{
    text-align: center;
    width: 50%;
    margin-inline: auto;
}
#toDo{
    width: 35rem;
    height: 1.5rem;
    outline: none;
}
#add{
    width: 2rem;
    height: 2rem;
    background-color: #4CAF50;
    border: none;
    margin: 0 0.5em;
}
#add:hover{
    cursor: pointer;
    background-color: #7dc480;
}
.container{
    display: flex;
    margin: 1em 0;
    border-radius: 1em;
    border: 1px solid #dfdfdf;
}
.pElement{
    margin-inline: 1em;

}
.doneButton,
.removeButton{
    width: 5%;
    background-color: white;
    border: none;
    font-size: 1em;
}
