h1{
    text-align: center;
}
.toDoBar{
    text-align: center;
    width: 50%;
    margin-inline: auto;
}
#toDo{
    width: 35rem;
    height: 1.5rem;
    outline: none;
    font-size: 1em;
}
#add{
    width: 2rem;
    height: 2rem;
    background-color: #4CAF50;
    border: none;
    margin: 0 0.5em;
}
#add:hover{
    cursor: pointer;
    background-color: #7dc480;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    border-radius: 1em;
    border: 1px solid #dfdfdf;
}
.pElement{
    justify-self: space-between;
    margin-inline: 1em;
    font-family: Verdana, Tahoma, sans-serif;
}
.buttonDiv{
    display: flex;
    flex-direction: row;
}
.doneButton,
.removeButton{
    width: 100%;
    background-color: white;
    border: none;
    font-size: 1em;
    margin: 0 1em;
}
.doneButton{
    color:#108e15;
    font-weight: 500;
}
.removeButton{
    color: rgb(198, 32, 32);
    font-weight: 500;
}
